@page
@model AtcAntarctic.Pages.TransportNotes.Add

@{
    Layout = "Shared/_Layout";
}


<div>
    <h1>Добавить заметку</h1>
    <form id="transportNoteForm" class="transportNoteForm">
        <label for="">Дата</label>
        <input type="datetime-local" name="date" class="transportNoteForm_input" id="date"/>
        <label for="">Авто</label>
        <select class="transportNoteForm_input" name="vehicleId">
            @foreach (var transport in Model.Vehicles)
            {
                <option value="@transport.Id">@transport.Name</option>
            }
        </select>
        <label for="">Откуда</label>
        <select class="transportNoteForm_input" name="from">
            @foreach (var place in Model.Places)
            {
                <option value="@place.Id">@place.Name</option>
            }
        </select>
        <label for="">Куда</label>
        <select class="transportNoteForm_input" name="to">
            @foreach (var place in Model.Places)
            {
            <option value="@place.Id">@place.Name</option>
            }
        </select>
        <label for="">POB</label>
        <input type="number" name="pob" value="0" class="transportNoteForm_input"/>

        <label for="">ATD</label>
        <input type="datetime-local" name="atd" id="atd" class="transportNoteForm_input"/>

        <label for="">ATA</label>
        <input type="datetime-local" name="ata" id="ata" class="transportNoteForm_input"/>

        <label for="">RMK</label>
        <input type="text" name="rmk" class="transportNoteForm_input"/>
        
        <button type="submit" class="transportNoteForm_input">Добавить</button>
    </form>
</div>

<style>
    .transportNoteForm{
        display: flex;
        flex-direction: column;
    }
    .transportNoteForm_input{
        margin-bottom: 10px;
        max-width: 30%;
    }
</style>

<script>
    const transportNoteForm = document.querySelector("#transportNoteForm");
    
    const date = document.querySelector("#date");
    const atd = document.querySelector("#atd");
    const ata = document.querySelector("#ata");
    
    date.value = getCurrentDateTime();
    atd.value = getCurrentDateTime();
    ata.value = null
    
    transportNoteForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        const postData = {};
        postData.FromId = +formData.get("from");
        postData.ToId = +formData.get("to");
        postData.Date = formData.get("date");
        postData.VehicleId = +formData.get("vehicleId");
        postData.POB = +formData.get("pob");
        postData.ATA = formData.get("ata")===""?null:formData.get("ata");
        postData.ATD = formData.get("atd");
        postData.RMK = formData.get("rmk");
        console.log(postData);
        try {
            const res = await fetch(location.origin +  "/api/transportNotes", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(postData)
            })
        }catch (e) {
            console.warn(e.message);
        }
        
        
    })

    function getCurrentDateTime() {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');
        const day = String(now.getDate()).padStart(2, '0');
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        return `${year}-${month}-${day}T${hours}:${minutes}`;
    }
</script>