@page
@model AtcAntarctic.Pages.TransportNotes.Index

@{
    Layout = "Shared/_Layout";
}

<div>
    <h1>Учет движения транспорта</h1>
    
    <div class="transportNote_list-container">
    @foreach(var transportNote in Model.TransportNotes)
    {
        <div class="transportNote_card">
            <h3>ID: @transportNote.Id</h3>
            <p>Дата: @transportNote.Date</p>
            <p>Откуда:@transportNote.FromId</p>
            <p>Куда: @transportNote.ToId</p>
            <p>Транспорт: @transportNote.VehicleId</p>
            <p>Время отправления: @transportNote.Atd</p>
            <p>Время прибытия: @transportNote.Ata</p>
            <p>RMK: @transportNote.Rmk</p>
        </div>
    }
    </div>
</div>

<style>
    .transportNote_card{
        border: 1px solid black;
        padding: 5px;
        border-radius: 10px;
        /*margin-bottom: 5px;*/
    }
    
    .transportNote_list-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px; /* Отступы между карточками */
        padding: 20px; /* Отступы внутри контейнера */
    }
</style>